// Define variables for your color scheme

// For example:
$yellow: rgb(239, 203, 65);
$black: rgb(2, 2, 2);
$licorice: #101014;
$light-gray: #CACCCE;
$white: #F9F9F9;

$red: #EE5F5B;
$blue: #469AE0;
$orange: #E67E22;
