
<div class="container">
  <div class="row">
        <ul>
          <% @cocktails.each do |cocktail|%>
          <div class="col-xs-12 col-sm-4 card">
          <li><%= link_to "", cocktail_path(cocktail), class: "cocktail"  %></li>
          <%= render "shared/card", cocktail: cocktail %>
        </div>
          <% end %>
        </ul>
  </div>
</div>
