<h1>Cocktails</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-4">
        <ul>
          <% @cocktails.each do |cocktail| %>
            <li><%= link_to cocktail.name, cocktail_path(cocktail)  %></li>
          <% end %>
        </ul>
    </div>
  </div>
  <%= link_to "New cocktail", new_cocktail_path(@cocktail), class:"btn btn-default" %>
</div>
