body, h1 {
  background-color: $white;
  color: $black;
  font-family: 'EB Garamond', serif;
}

h1 {
  font-weight: 700;
}

ul {
  list-style-type: none;
}

.container {
  padding: 20px;
}

.cocktail{
  color: $black;
}

.cocktail:hover {
  text-decoration: none;
}

.list-ingredient {
  margin: 30px;
}

.btn-list{
  margin-left: 50px;
}
