<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo %>');">
  <div class="card-description">
    <%= cocktail.name  %>
  </div>
  <%= link_to  "", cocktail_path(cocktail), class: "card-link"%>
</div>
